# Write a python program to display all the header tags from wikipedia.org and make data frame.

In [1]:
import requests
from bs4 import BeautifulSoup
 
URL = 'https://en.wikipedia.org/wiki/Main_Page'
request = requests.get(URL)
 
Soup = BeautifulSoup(request.content)
 
#creating a list of all common heading tags
headers=[]
for i in Soup.find_all('span',class_="mw-headline"):
    headers.append(i.text)
headers

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "From today's featured list",
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

# Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [2]:
page4=requests.get("https://presidentofindia.nic.in/former-presidents.htm")
page4

In [5]:
soup= BeautifulSoup(page4.content)

President=[]
for i in soup("div",class_="presidentListing"):
    President.append(i.text.replace("\n"," ").split("(")[0])
President

[' Shri Ram Nath Kovind ',
 ' Shri Pranab Mukherjee ',
 ' Smt Pratibha Devisingh Patil ',
 ' DR. A.P.J. Abdul Kalam ',
 ' Shri K. R. Narayanan ',
 ' Dr Shankar Dayal Sharma ',
 ' Shri R Venkataraman ',
 ' Giani Zail Singh ',
 ' Shri Neelam Sanjiva Reddy ',
 ' Dr. Fakhruddin Ali Ahmed ',
 ' Shri Varahagiri Venkata Giri ',
 ' Dr. Zakir Husain ',
 ' Dr. Sarvepalli Radhakrishnan ',
 ' Dr. Rajendra Prasad ']

In [6]:
President=[]
for i in soup("div",class_="presidentListing"):
    President.append(i.text.replace("\n"," ").split("\n")[0])
President

[' Shri Ram Nath Kovind (birth - 1945) Term of Office: 25 July, 2017 to 25 July, 2022  https://ramnathkovind.nic.in ',
 ' Shri Pranab Mukherjee (1935-2020) Term of Office: 25 July, 2012 to 25 July, 2017  http://pranabmukherjee.nic.in ',
 ' Smt Pratibha Devisingh Patil (birth - 1934) Term of Office: 25 July, 2007 to 25 July, 2012  http://pratibhapatil.nic.in ',
 ' DR. A.P.J. Abdul Kalam (1931-2015) Term of Office: 25 July, 2002 to 25 July, 2007  http://abdulkalam.nic.in ',
 ' Shri K. R. Narayanan (1920 - 2005) Term of Office: 25 July, 1997 to 25 July, 2002  ',
 ' Dr Shankar Dayal Sharma (1918-1999) Term of Office: 25 July, 1992 to 25 July, 1997  ',
 ' Shri R Venkataraman (1910-2009) Term of Office: 25 July, 1987 to 25 July, 1992  ',
 ' Giani Zail Singh (1916-1994) Term of Office: 25 July, 1982 to 25 July, 1987  ',
 ' Shri Neelam Sanjiva Reddy (1913-1996) Term of Office: 25 July, 1977 to 25 July, 1982  ',
 ' Dr. Fakhruddin Ali Ahmed (1905-1977) Term of Office: 24 August, 1974 to 11 February, 1977 ',
 ' Shri Varahagiri Venkata Giri (1894-1980) Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974 ',
 ' Dr. Zakir Husain (1897-1969) Term of Office: 13 May, 1967 to 3 May, 1969 ',
 ' Dr. Sarvepalli Radhakrishnan (1888-1975) Term of Office: 13 May, 1962 to 13 May, 1967 ',
 ' Dr. Rajendra Prasad (1884-1963)  Term of Office: 26 January, 1950 to 13 May, 1962 ']

# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame-

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team andrating.
c) Top 10 ODI bowlers along with the records of their team andrating.

In [13]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [17]:
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')

table = soup.find('table', {'class': 'table'})

teams = []
matches = []
points = []
ratings = []

rows = table.find_all('tr')[1:11] 

for row in rows:
    cols = row.find_all('td')
    teams.append(cols[1].text.strip())
    matches.append(cols[2].text)
    points.append(cols[3].text)
    ratings.append(cols[4].text)

data = {'Team': teams,'Matches': matches,'Points': points,'Rating': ratings}

df = pd.DataFrame(data)

df

,Team,Matches,Points,Rating
0,Australia\nAUS,23,"2,714",\n 118\n ...
1,Pakistan\nPAK,20,"2,316",116
2,India\nIND,33,"3,807",115
3,New Zealand\nNZ,27,"2,806",104
4,England\nENG,24,"2,426",101
5,South Africa\nSA,19,"1,910",101
6,Bangladesh\nBAN,25,"2,451",98
7,Sri Lanka\nSL,28,"2,378",85
8,Afghanistan\nAFG,13,"1,067",82
9,West Indies\nWI,32,"2,201",69

In [16]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')

table = soup.find('table', {'class': 'table rankings-table'})

players = []
teams = []
ratings = []

rows = table.find_all('tr')[1:11]  

for row in rows:
    cols = row.find_all('td')
    players.append(cols[1].text.strip())
    teams.append(cols[2].text.strip())
    ratings.append(cols[4].text)

data = {'Player': players,'Team': teams,'Rating': ratings}

df = pd.DataFrame(data)

df

,Player,Team,Rating
0,Babar Azam,PAK,\n\n\n 898 v We...
1,Rassie van der Dussen,SA,\n 796 v Englan...
2,Fakhar Zaman,PAK,\n 784 v New Ze...
3,Imam-ul-Haq,PAK,\n 815 v West I...
4,Shubman Gill,IND,\n 738 v Austra...
5,Harry Tector,IRE,"\n 726 v Nepal,..."
6,David Warner,AUS,\n 880 v Pakist...
7,Virat Kohli,IND,\n 911 v Englan...
8,Quinton de Kock,SA,\n 813 v Sri La...
9,Rohit Sharma,IND,\n 885 v Sri La...

In [18]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')

table = soup.find('table', {'class': 'table rankings-table'})

players = []
teams = []
ratings = []

rows = table.find_all('tr')[1:11] 

for row in rows:
    cols = row.find_all('td')
    players.append(cols[1].text.strip())
    teams.append(cols[2].text.strip())
    ratings.append(cols[4].text)


data = {'Player': players,'Team': teams,'Rating': ratings}

df = pd.DataFrame(data)
df

             Player Team                                             Rating
0    Josh Hazlewood  AUS  \n\n\n                                733 v En...
1    Mohammed Siraj  IND  \n                                736 v New Ze...
2    Mitchell Starc  AUS  \n                                783 v New Ze...
3        Matt Henry   NZ  \n                                691 v Bangla...
4       Trent Boult   NZ  \n                                775 v Austra...
5        Adam Zampa  AUS  \n                                655 v Englan...
6       Rashid Khan  AFG  \n                                806 v Pakist...
7    Shaheen Afridi  PAK  \n                                688 v West I...
8  Mujeeb Ur Rahman  AFG  \n                                712 v Irelan...
9     Mohammad Nabi  AFG  \n                                657 v Zimbab...

# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame-

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [19]:
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')

table = soup.find('table', {'class': 'table'})


teams = []
matches = []
points = []
ratings = []

rows = table.find_all('tr')[1:11]  

for row in rows:
    cols = row.find_all('td')
    teams.append(cols[1].text.strip())
    matches.append(cols[2].text)
    points.append(cols[3].text)
    ratings.append(cols[4].text)
data = {'Team': teams,'Matches': matches,'Points': points,'Rating': ratings}

df = pd.DataFrame(data)

df

,Team,Matches,Points,Rating
0,Australia\nAUS,21,"3,603",\n 172\n ...
1,England\nENG,28,"3,342",119
2,South Africa\nSA,26,"3,098",119
3,India\nIND,27,"2,820",104
4,New Zealand\nNZ,28,"2,688",96
5,West Indies\nWI,29,"2,743",95
6,Bangladesh\nBAN,14,977,70
7,Sri Lanka\nSL,12,820,68
8,Thailand\nTHA,12,806,67
9,Pakistan\nPAK,27,"1,678",62

In [20]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')

table = soup.find('table', {'class': 'table rankings-table'})

players = []
teams = []
ratings = []

rows = table.find_all('tr')[1:11]  

for row in rows:
    cols = row.find_all('td')
    players.append(cols[1].text.strip())
    teams.append(cols[2].text.strip())
    ratings.append(cols[4].text)

data = {'Player': players,'Team': teams,'Rating': ratings}

df = pd.DataFrame(data)

df

                Player Team                                             Rating
0  Chamari Athapaththu   SL  \n\n\n                                758 v Ne...
1          Beth Mooney  AUS  \n                                754 v Pakist...
2      Laura Wolvaardt   SA  \n                                741 v Austra...
3       Natalie Sciver  ENG  \n                                755 v South ...
4          Meg Lanning  AUS  \n                                834 v New Ze...
5     Harmanpreet Kaur  IND  \n                                731 v Englan...
6      Smriti Mandhana  IND  \n                                797 v Englan...
7         Ellyse Perry  AUS  \n                                766 v West I...
8      Stafanie Taylor   WI  \n                                766 v Pakist...
9       Tammy Beaumont  ENG  \n                                791 v India,...

In [21]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')

table = soup.find('table', {'class': 'table rankings-table'})

players = []
teams = []
ratings = []

rows = table.find_all('tr')[1:11]  

for row in rows:
    cols = row.find_all('td')
    players.append(cols[1].text.strip())
    teams.append(cols[2].text.strip())
    ratings.append(cols[4].text)

data = {'Player': players,'Team': teams, 'Rating': ratings}

df = pd.DataFrame(data)

df

             Player Team                                             Rating
0   Hayley Matthews   WI  \n\n\n                                392 v Ir...
1    Natalie Sciver  ENG  \n                                395 v South ...
2      Ellyse Perry  AUS  \n                                548 v West I...
3    Marizanne Kapp   SA  \n                                419 v West I...
4       Amelia Kerr   NZ  \n                                356 v West I...
5     Deepti Sharma  IND  \n                                397 v South ...
6  Ashleigh Gardner  AUS  \n                                292 v Pakist...
7     Jess Jonassen  AUS  \n                                308 v West I...
8     Sophie Devine   NZ  \n                                305 v Austra...
9          Nida Dar  PAK  \n                                232 v Austra...

# Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame-

i) Headline
ii) Time
iii) News Link

In [9]:
page7 = requests.get("https://www.cnbc.com/world/?region=world")

page7

In [10]:
soup = BeautifulSoup(page7.content)

Headline=[]
for i in soup.find_all('a',class_="LatestNews-headline"):
    Headline.append(i.text)
Headline

['Cybersecurity experts have become targets for board seats',
 "Getting rich isn't the American Dream anymore, says new survey",
 'You could win nearly $1 billion between the Mega Millions and Powerball jackpots',
 ' Buffer ETFs are growing with new funds from iShares, even as stocks rally',
 'Weight loss treatment options are about to explode — The names investors need to know',
 "Jim Cramer's guide to investing: Prepare for corrections, they are inevitable ",
 "Do you always need to tip 20%? Here's how much an etiquette expert says to leave",
 "Here's what the latest OPEC+ oil cuts mean for 3 big U.S. energy holdings",
 'A record number of people are expected to drive this July 4. How to save on gas',
 "Jim Cramer's guide to investing: Don't forget about bonds",
 "Analysts are adjusting their price targets for Constellation — why we're on board",
 'Most patriotic stocks: These names can benefit the most from a strong economy',
 'Dodge Durango, Jeep SUVs push Stellantis second-quarter sales up 6.4%',
 'This is where to find hot yields in July, according to UBS',
 "Here's another reason that the market could post a huge rally in the second half",
 'Stocks making the biggest moves midday: Tesla, Rivian, XPeng and more',
 '23-year-old earns $48,000 in NYC as a freelance music producer',
 'Goldman adds a utility stock to its list of elite picks for clients',
 'Risk factors suggest borrowers could struggle when student loan payments resume',
 'Tesla shares rise nearly 7% after delivery, production numbers beat expectations',
 'Take-Two, this drug name are among the most overbought stocks on Wall Street. Here are the others',
 'How to send a successful cold email, according to hiring experts',
 "Barbara Corcoran on the 'Shark Tank' deal that made her $468 million",
 'People almost always get this simple math problem wrong: Can you solve it?\xa0',
 "Bluesky experiences 'record-high traffic' after Elon Musk's Twitter rate limits",
 "Scotland's iconic Orkney islands considering quitting Britain to join Norway",
 'Rivian shares surge as second-quarter EV deliveries top estimates',
 "Americans living in Europe on what they've learned about taking PTO abroad",
 "Help! A former co-worker asked me for a referral I don't want to give",
 'Katie Stockton says S&P 500 can go to new high thanks to megacap leaders']

In [11]:
Times = []
for i in soup.find_all('time', class_="LatestNews-timestamp"):
    Times.append(i.text)
Times

['2 Hours Ago',
 '2 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '6 Hours Ago',
 '6 Hours Ago',
 '6 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago']

In [12]:
News_Link = []
for i in soup.find_all('a',class_="LatestNews-headline"):
    News_Link.append(i.get('href'))  
News_Link

['https://www.cnbc.com/2023/07/03/cybersecurity-experts-have-become-targets-for-board-seats.html',
 'https://www.cnbc.com/2023/07/03/belonging-happiness-comfort-are-new-american-dream-godaddy-survey.html',
 'https://www.cnbc.com/2023/07/03/mega-millions-powerball-jackpots-nearly-1-billion-dollars-is-up-for-grabs.html',
 'https://www.cnbc.com/2023/07/03/-buffer-etfs-are-growing-with-new-funds-from-ishares-even-as-stocks-rally.html',
 'https://www.cnbc.com/2023/07/03/weight-loss-treatments-are-about-to-explode-the-names-investors-need-to-know.html',
 'https://www.cnbc.com/2023/07/03/jim-cramers-guide-to-investing-prepare-for-corrections.html',
 'https://www.cnbc.com/2023/07/03/etiquette-expert-how-much-to-tip-at-restaurants-hotels-coffee-shops.html',
 'https://www.cnbc.com/2023/07/03/heres-what-the-latest-opec-cuts-mean-for-3-big-us-energy-holdings.html',
 'https://www.cnbc.com/2023/07/03/heres-how-travelers-can-save-on-gas-this-july-4-holiday.html',
 'https://www.cnbc.com/2023/07/03/jim-cramers-guide-to-investing-dont-forget-about-bonds.html',
 'https://www.cnbc.com/2023/07/03/analysts-are-adjusting-price-targets-for-constellation-were-behind-it.html',
 'https://www.cnbc.com/2023/07/03/most-patriotic-stocks-these-names-can-benefit-the-most-from-a-strong-us-economy.html',
 'https://www.cnbc.com/2023/07/03/stellantis-new-vehicle-sales-second-quarter.html',
 'https://www.cnbc.com/2023/07/03/this-is-where-to-find-hot-yields-in-july-according-to-ubs.html',
 'https://www.cnbc.com/2023/07/03/heres-another-reason-that-the-market-could-post-a-huge-rally-in-the-second-half.html',
 'https://www.cnbc.com/2023/07/03/stocks-making-the-biggest-moves-midday-tesla-rivian-xpeng-and-more.html',
 'https://www.cnbc.com/2023/07/03/23-year-old-lives-on-48000-in-nyc-as-a-freelance-music-producer.html',
 'https://www.cnbc.com/2023/07/03/goldman-adds-a-utility-stock-to-its-list-of-elite-picks-for-clients.html',
 'https://www.cnbc.com/2023/07/03/these-risk-factors-suggest-borrowers-could-struggle-when-payments-resume.html',
 'https://www.cnbc.com/2023/07/03/tesla-shares-rise-over-7percent-after-deliveries-report-production-numbers.html',
 'https://www.cnbc.com/2023/07/03/take-two-this-drug-name-are-among-the-most-overbought-stocks-on-wall-street-here-are-the-others.html',
 'https://www.cnbc.com/2023/07/03/how-to-ace-a-cold-email-according-to-hiring-experts.html',
 'https://www.cnbc.com/2023/07/03/barbara-corcoran-on-the-shark-tank-deal-that-made-her-468-million.html',
 'https://www.cnbc.com/2023/07/03/people-almost-always-get-this-simple-math-problem-wrong.html',
 'https://www.cnbc.com/2023/07/03/users-flock-to-twitter-competitor-bluesky-after-elon-musk-imposes-rate-limits.html',
 'https://www.cnbc.com/2023/07/03/scotlands-orkney-islands-consider-quitting-the-uk-to-join-norway.html',
 'https://www.cnbc.com/2023/07/03/rivian-shares-surge-as-second-quarter-ev-deliveries-top-estimates.html',
 'https://www.cnbc.com/2023/07/03/americans-in-europe-share-what-theyve-learned-about-taking-pto-abroad.html',
 'https://www.cnbc.com/2023/07/03/help-a-former-co-worker-asked-me-for-a-referral-i-dont-want-to-give.html',
 'https://www.cnbc.com/2023/07/03/katie-stockton-says-sp-500-can-go-to-new-high-thanks-to-megacaps-.html']

# Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details and make data frame-

i) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [17]:
page8 = requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
page8

In [18]:
soup = BeautifulSoup(page8.content)

Paper_Title =[]
for i in soup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    Paper_Title.append(i.text)
Paper_Title

['Reward is enough',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Creativity and artificial intelligence',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Knowledge graphs as tools for explainable machine learning: A survey',
 'Law and logic: A review from an argumentation perspective',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'Multiple object tracking: A literature review',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Explainable AI tools for legal reasoning about cases: A study on the European Court of Human Rights',
 'Hard choices in artificial intelligence',
 'Assessing the communication gap between AI models and healthcare professionals: Explainability, utility and trust in AI-driven clinical decision-making',
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'The Hanabi challenge: A new frontier for AI research',
 'Wrappers for feature subset selection',
 'Artificial cognition for social human–robot interaction: An implementation',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'The multifaceted impact of Ada Lovelace in the digital age',
 'Robot ethics: Mapping the issues for a mechanized world',
 'Reward (Mis)design for autonomous driving',
 'Planning and acting in partially observable stochastic domains',
 'What do we want from Explainable Artificial Intelligence (XAI)? – A stakeholder perspective on XAI and a conceptual model guiding interdisciplinary XAI research']

In [19]:
Authors=[]
for i in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    Authors.append(i.text)
Authors

['David Silver, Satinder Singh, Doina Precup, Richard S. Sutton ',
 'Tim Miller ',
 'Margaret A. Boden ',
 'Guni Sharon, Roni Stern, Ariel Felner, Nathan R. Sturtevant ',
 'Ilaria Tiddi, Stefan Schlobach ',
 'Henry Prakken, Giovanni Sartor ',
 'Richard S. Sutton, Doina Precup, Satinder Singh ',
 'Kjersti Aas, Martin Jullum, Anders Løland ',
 'Wenhan Luo, Junliang Xing and 4 more',
 'Saurabh Arora, Prashant Doshi ',
 'Jasper van der Waa, Elisabeth Nieuwburg, Anita Cremers, Mark Neerincx ',
 'Joe Collenette, Katie Atkinson, Trevor Bench-Capon ',
 'Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz ',
 'Oskar Wysocki, Jessica Katharine Davies and 5 more',
 'Eoin M. Kenny, Courtney Ford, Molly Quinn, Mark T. Keane ',
 'Nolan Bard, Jakob N. Foerster and 13 more',
 'Ron Kohavi, George H. John ',
 'Séverin Lemaignan, Mathieu Warnier and 3 more',
 'Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz ',
 'Luigia Carlucci Aiello ',
 'Patrick Lin, Keith Abney, George Bekey ',
 'W. Bradley Knox, Alessandro Allievi and 3 more',
 'Leslie Pack Kaelbling, Michael L. Littman, Anthony R. Cassandra ',
 'Markus Langer, Daniel Oster and 6 more']

In [20]:
Published_Date = []
for i in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    Published_Date.append(i.text)
Published_Date

['October 2021',
 'February 2019',
 'August 1998',
 'February 2015',
 'January 2022',
 'October 2015',
 'August 1999',
 'September 2021',
 'April 2021',
 'August 2021',
 'February 2021',
 'April 2023',
 'November 2021',
 'March 2023',
 'May 2021',
 'March 2020',
 'December 1997',
 'June 2017',
 'June 2021',
 'June 2016',
 'April 2011',
 'March 2023',
 'May 1998',
 'July 2021']

In [21]:
Paper_URL = []
for i in soup.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    Paper_URL.append(i.get("href"))
Paper_URL

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370221001788',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370223000073',
 'https://www.sciencedirect.com/science/article/pii/S0004370221001065',
 'https://www.sciencedirect.com/science/article/pii/S0004370222001795',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300224',
 'https://www.sciencedirect.com/science/article/pii/S0004370211000178',
 'https://www.sciencedirect.com/science/article/pii/S0004370222001692',
 'https://www.sciencedirect.com/science/article/pii/S000437029800023X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000242']

# Write a python program to scrape mentioned details from dineout.co.in and make data frame-

i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [4]:
import requests
from bs4 import BeautifulSoup
 
page=requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
page

In [5]:
soup= BeautifulSoup(page9.content)

Restaurant_name=[]
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    Restaurant_name.append(i.text)
Restaurant_name

[]